/* connect(התוכן) padding(ריפוד פנימי) margin (שולים חיצוניים) border (מסגרת) */





* {
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-color: black;
    height: 70px;
}

#red-email {
    margin-left: 20%;
    color: white;

}

#logo-img{
    margin-left: 30%;
    content: icon;

}

#sun-img{
    margin-left: 30%;
    height: 40px;
    content: icon;

}


/* עיצוב הקופסה (The Box Model)
width (רוחב האלמנט)

height (גובה האלמנט)

padding (מרווח פנימי - המרחק מהתוכן למסגרת)

margin (שוליים חיצוניים - המרחק בין האלמנט לאחרים)

border (מסגרת - הגדרת עובי, סגנון וצבע הקו המקיף)

box-sizing: border-box (מכליל את ה-Padding והמסגרת בתוך הרוחב הכולל)

מראה וסגנון
background-color (צבע רקע)

border-radius (עיגול פינות - הופך פינות חדות למעוגלות)

box-shadow (הוספת צל לאלמנט ליצירת עומק)

opacity (שקיפות - קביעת רמת השקיפות של האלמנט)

cursor: pointer (שינוי סמן העכבר לאייקון של "יד" בלחיצה)

טקסט וגופנים
color (צבע הטקסט)

font-family (בחירת סוג הגופן/פונט)

font-size (גודל הגופן)

text-align (יישור טקסט - ימינה, שמאלה או למרכז)

line-height (מרווח בין שורות טקסט)

text-decoration: none (ביטול עיצוב ברירת מחדל, כמו קו תחתון בקישור)

תצוגה ומיקומים
display (הגדרת אופן התצוגה - בלוק, אינליין וכו')

display: inline-block (מאפשר לאלמנטים לעמוד בשורה אחת אך לשמור על תכונות של קופסה)

float (הצמדת אלמנט לצד מסוים כדי שאלמנטים אחרים יזרמו סביבו)

vertical-align (יישור אנכי של אלמנטים שעומדים אחד ליד השני)

אינטראקציה */